/*Need to update media query to reflect grid changes*/

html {
    height: 100vh;
}

body {
    font-family: Zilla Slab, Yaldevi, serif;
    background-color: #DDDBCB;
    background-image: url('../images/sky.jpg');
    height: 100%;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    width: 80%;
    height: fit-content;
    margin: 0 auto;
    background-color: transparent;
    padding: 20px;
}
section {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 10px;
    background-color: rgba(255,255,255,0.3);
}

.displayToggle{
    display: none; 
}

.inline-block {
    display: inline-block;

}
h1 {
    text-align: center;
    margin-bottom: 0px;
    background-color: #DDDBCB;
} 

.logo {
    width: 20%;
    height:20%;}

nav li {
    margin: 0 auto;
    font-size: 30px;
    background-color: #DDDBCB;
    border-radius: 5px;
    padding: 5px 10px 0px 10px;
    cursor: pointer;
    
}

.preview ul {
    list-style-type: none;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 10px;
}

h4 {
    font-size: 24px;
    text-align: center;
}

div {
    box-sizing: border-box;
}

/*Adding overflow:hidden seems to fix spacing issue, unsure if that
could cause problems when lists get longer*/
.preview {
    background-color:#DDDBCB;
    height: 100%;
    overflow: hidden;
}


.picture{
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

p {
    font-size:18px;
}

.selfPreview p {
    padding: 5%;
}

.preview li {
    text-align: center;
    margin-left: -90px;
    font-size: 18px;
    padding: 10px;
}

.hoverCTA {
    display: block;
    margin: 0 auto;
    font-weight: bold;
    font-size: 30px;
}

/*Grid Structure*/

.imgPreview {
    grid-area: imgPreview;
}

.selfPreview {
    grid-area: selfPreview;
}
.workPreview{
    grid-area: workPreview;
}

.skillsPreview {
    grid-area: skillsPreview;
}

.heroGrid {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "imgPreview imgPreview selfPreview selfPreview selfPreview"
        "workPreview workPreview workPreview skillsPreview skillsPreview";
    row-gap: 10px;
    column-gap: 10px;
    
}

/*End Grid Structure*/

.mySkills {
    overflow: hidden;
}

.skillTitle {
    grid-area: skillTitle;
}

.firstSkill {
    grid-area: firstSkill;
}

.secondSkill {
    grid-area: secondSkill;
}

.thirdSkill {
    grid-area: thirdSkill;
}

.skillGrid {
    display: grid;
    background-color: #DDDBCB;
    height: 100%;
    grid-template-rows: 10% 90%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "skillTitle skillTitle skillTitle"
    "firstSkill secondSkill thirdSkill";
    align-items: center;
    justify-items: center;
}

.skillGrid div {
    height: 100%;
    background-color:#DDDBCB;
    margin: 0 auto;
    padding: 0px 10px 0px 20px;
}

.skill img {
 display:block;   
 margin: auto;
}

.skill h3 {
    text-align: center;
}

.myWork {
    overflow: hidden;
}

.skill p, .workGrid p{
    margin: 10px;
    margin-left: 40px;
}

.workGrid img {
    max-width: 100%;
    max-height: 100%;

}


.workGrid h4 {
    padding: 0 10px 10px 0;
    font-size: 24px;
}


/*Grid Structure*/
.workTitle {
    grid-area: title;
}

.ppages {
    grid-area: ppages;
}

.localeyes {
    grid-area: localeyes;
}

.ppages {
    grid-area: ppages;
}

.localeyes {
    grid-area: localeyes;
}

.p1img {
    grid-area: p1img;
}

.p2img {
    grid-area: p2img;
}

.p1text {
    grid-area: p1text;
}

.p2text {
    grid-area: p2text;
}

.p1button {
    grid-area: p1button;
}

.p2button {
    grid-area: p2button;
}
.workGrid {
    display: grid;
    background-color: #DDDBCB;
    height: 100%;
    grid-template-rows: 5% 15% 30% 40% 10%; 
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "title title"
        "ppages localeyes"
        "p1img p2img"
        "p1text p2text"
        "p1button p2button";
    align-items: center;
    justify-items: center;

}


/*End Grid Structure*/



.footer {
    background-color: #DDDBCB;
    margin-top: 20px;
}

.footerGrid * {
    margin: -50px;
}

/*Start Grid Structure*/

.greeting {
    grid-area: greeting;
    font-size: 30px;
}

.email {
    grid-area: email;
    font-size: 18px;
}

.profile {
    grid-area: profile;
    height: 70%;
}

.phone {
    grid-area: phone;
    font-size: 18px;
}

.copyright {
    grid-area: copyright;
    height: 70%;
}

.linkedin {
    grid-area: linkedin;
    height: 70%
}

.fb {
    grid-area: fb;
    height: 70%
}

.footerGrid {
    width: 20%;
    margin: 0 auto;
    display: grid;
    /*height: auto*/
    /*outline-style: dotted;
    outline-color: blue;*/
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "none profile profile"
        "greeting profile profile"
        "email profile profile"
        "copyright linkedin fb";
    align-items: center;
    justify-items: center;

}

/*End Grid Structure*/

button {
    background-color: #31A5F2;
    border: 5px solid rgba(255,255,255,0.3);
    border-radius: 10px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    font-weight: regular;
    font-size: 24px;
    font-family: Zilla Slab, Yaldevi, serif;
}

/*Would not work without px after adding hover interactions, it seemed*/
@media only screen and (max-width: 600px) {
    .heroGrid {
        display:grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr;
        grid-template-areas:
            "imgPreview"
            "selfPreview"
            "workPreview"
            "skillsPreview"
        ;
        align-items: center;
        justify-items: center;
    }
    
    .skillGrid {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-rows: repeat(4fr);
        grid-template-columns: 1fr;
        grid-template-areas: 
        "skillTitle"
        "firstSkill"
        "secondSkill"
        "thirdSkill";
    }

    .workGrid {
        display: grid;
        /*height: auto*/
        grid-template-rows: repeat(8, 1fr);
        grid-template-columns: 1fr;
        grid-template-areas:
            "ppages"
            "p1img"
            "p1text"
            "p1button"
            "localeyes"
            "p2img"
            "p2text"
            "p2button";
        align-items: center;
        justify-items: center;   
    }

}